nav div.container-fluid {
  background-color: #e58fbc; }
  nav div.container-fluid a.logo {
    margin-left: 10%; }
  nav div.container-fluid a.carritoIcono {
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    color: red;
    font-weight: bold; }
  nav div.container-fluid a.favoritos {
    margin-right: 10%; }

.seccionDeTienda--flexible {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around; }

.imagenProducto {
  width: 200px;
  height: 200px; }

.botonComprar {
  background-color: transparent;
  color: #2c2b2b;
  border: 2px solid #e58fbc; }

.botonComprar:hover {
  background-color: #e58fbc;
  color: white; }

/*table.tablaDeCompras*/
#carroCompras {
  width: 80%;
  border: solid 1px #766F6F;
  margin: 2% auto; }
  #carroCompras th {
    border: solid 1px #766F6F; }
  #carroCompras th,
  #carroCompras td {
    padding: 5px; }

.imgCarrito {
  width: 50px;
  height: 50px; }

.contenedorBotonesBody {
  display: flex;
  justify-content: center; }

#toast {
  display: none;
  position: relative;
  opacity: 0.8;
  background-color: #dfdede;
  color: #2c2b2b;
  text-align: center;
  margin: -15% auto;
  padding: 10px;
  border-radius: 10px; }
