* {
  margin: 0; }

nav {
  background-color: #e58fbc;
  margin-bottom: 0px; }
  nav div.container-fluid a.logo {
    margin-left: 10%; }
  nav div.container-fluid a.carritoIcono {
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    color: red;
    font-weight: bold; }
  nav div.container-fluid a.favoritos {
    margin-right: 10%; }

.seccionDeTienda--flexible {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around; }

.imagenProducto {
  width: 200px;
  height: 200px; }

.botonComprar {
  background-color: transparent;
  color: #2c2b2b;
  border: 2px solid #e58fbc; }

.botonComprar:hover {
  background-color: #e58fbc;
  color: white; }

.botonPokemon {
  background-color: rgba(255, 0, 0, 0.384);
  border: none; }

.botonPokemon:hover {
  background-color: red;
  border: white; }

.botonPokedex {
  background-color: #ff4646;
  color: white; }

div.modal-content {
  background-color: red;
  color: white;
  border: 2px solid #f7f773; }

h5#staticBackdropLabel {
  font-size: 200%;
  color: #f7f773; }

#contenedorTablaCompra table {
  width: 80%;
  border: solid 1px #766F6F;
  margin: 2% auto; }

#contenedorTablaCompra th {
  border: solid 1px #766F6F; }

#contenedorTablaCompra th, #contenedorTablaCompra td {
  padding: 5px; }

.imgCarrito {
  width: 50px;
  height: 50px; }

.contenedorBotonesBody {
  display: flex;
  justify-content: center; }

#toast {
  display: none;
  position: relative;
  opacity: 0.8;
  background-color: #dfdede;
  color: #2c2b2b;
  text-align: center;
  margin: -15% auto;
  padding: 10px;
  border-radius: 10px; }

div.figuraSVG {
  position: relative;
  height: 100px;
  background-color: #e58fbc;
  margin-top: 0px;
  margin-bottom: 1%; }

footer {
  position: fixed;
  height: 100px;
  background-color: #e58fbc;
  margin-top: 0px;
  margin-bottom: 1%;
  bottom: 0; }

svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px; }

@media (max-width: 699px) {
  .svg--lg {
    display: none; } }

@media (min-width: 700px) {
  .svg--sm {
    display: none; } }

#main-index__imagenPokemon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  height: 30rem;
  background-image: url(../img/pokemon2-min.jpg);
  background-position: center center;
  background-size: cover;
  position: relative; }
  #main-index__imagenPokemon h3 {
    color: white;
    font-size: 30px;
    position: relative;
    text-align: center; }

#main-index__imagenPokemon:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6); }
