$rosado:#e58fbc;
$gris-Oscuro: #2c2b2b;
$gris-Medio: #766F6F;
$gris-Claro: #dfdede;

*{
    margin: 0;
}
nav {
    background-color: $rosado;
    div.container-fluid { 
        a.logo {
            margin-left: 10%;
        }

        a.carritoIcono {
            margin-right: 5%;
            display: flex;
            flex-direction: row;
            justify-content: center;
        
            text-decoration: none;
            color: red;
            font-weight: bold;
        }

        a.favoritos {
            margin-right: 10%;
        }
    }
    margin-bottom: 0px;
}

.seccionDeTienda--flexible {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.imagenProducto {
    width: 200px;
    height: 200px;
}

.botonComprar {
    background-color: transparent;
    color: $gris-Oscuro;
    border: 2px solid $rosado;
}

.botonComprar:hover {
    background-color: $rosado;
    color: white;

}

#carroCompras {
    width: 80%;
    border: solid 1px $gris-Medio;
    margin: 2% auto;

    th {
        border: solid 1px $gris-Medio;
    }

    th, td {
        padding: 5px;
    }
}

.imgCarrito {
    width: 50px;
    height: 50px;
}

.contenedorBotonesBody {
    display: flex;
    justify-content: center;
}

#toast{
    display: none;
    position: relative;
    opacity: 0.8;
    background-color: $gris-Claro;
    color: $gris-Oscuro;
    text-align: center;
    margin: -15% auto;
    padding: 10px;
    border-radius: 10px;
}

div.figuraSVG{   
    position: relative;
    height: 100px;
    background-color: $rosado;
    margin-top: 0px;
    margin-bottom: 1%;
  }
  footer{
    position: fixed;
    height: 100px;
    background-color: $rosado;
    margin-top: 0px;
    margin-bottom: 1%;
    bottom: 0;
  }
  svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;    
  }
   
  @media (max-width: 699px) {
    .svg--lg {
      display: none;
    }
  }
  
  @media (min-width: 700px) {
    .svg--sm {
      display: none;
    }
  }


  #main-index__imagenPokemon{

	display: flex;
	justify-content: center;
	align-items: center;

	margin-top: 2%;
    height: 30rem;
	background-image: url(../img/pokemon2-min.jpg);
	background-position: center center;
	background-size: cover;
	position: relative;

	h3{

	   color: white;
	   font-size: 30px;
	   position: relative;
	   text-align: center;
     }

}

#main-index__imagenPokemon:before{

	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}
