$rosado:#e58fbc;
$gris-Oscuro: #2c2b2b;
$gris-Medio: #766F6F;
$gris-Claro: #dfdede;

*{
    margin: 0;
}
// ----------------------------------------------------------------------NAVBAR----------------------------------------------------------------------------------
nav {
    background-color: $rosado;
    div.container-fluid { 
        a.logo {
            margin-left: 10%;
        }

        a.carritoIcono {
            margin-right: 5%;
            display: flex;
            flex-direction: row;
            justify-content: center;
        
            text-decoration: none;
            color: red;
            font-weight: bold;
        }

        a.favoritos {
            margin-right: 10%;
        }
    }
    margin-bottom: 0px;
}
// las imágenes del navbar________________________________________
.navbar__imgLogo{
    width: 150px;
    height: auto;
}

.navbar__imgCarrito{
    width: 40px;
}
.navbar__imgInstagram{
    width: 35px;
}

@media(max-width: 500px){
    .navbar__imgLogo{
        width: 90px;
        height: auto;
    }
    
    .navbar__imgCarrito{
        width: 30px;
        height: auto;
    }
    .navbar__imgInstagram{
        width: 25px;
    }
}
// EFECTO DIAGONAL DEL NAVBAR_________________________________________
div.figuraSVG{   
    position: relative;
    height: 100px;
    background-color: $rosado;
    margin-top: 0px;
    margin-bottom: 1%;
  }
  footer{
    height: 100px;
    background-color: $rosado;  
  }
  svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;    
  }
   
  @media (max-width: 699px) {
    .svg--lg {
      display: none;
    }
  }
  
  @media (min-width: 700px) {
    .svg--sm {
      display: none;
    }
  }

// ---------------------------------------------------------------------MAIN--------------------------------------------------------------------------------
.main-index__Img{
    display: flex;
	justify-content: center;
	align-items: center;

	margin-top: 2%;
    height: 30rem;
	background-position: center center;
	background-size: cover;
	position: relative;

	h3{

	   color: white;
	   font-size: 1.5rem;
	   position: relative;
	   text-align: center;
     }
}
// los botones que asociados a las secciones de productos que a su vez son banners
#main-index__Img--sticker{
    @extend .main-index__Img;
    background-image: url(../img/sticker2-min.jpg);
}

#main-index__Img--remera{
    @extend .main-index__Img;
    background-image: url(../img/remera2-min.jpg);
}

#main-index__Img--tote{
    @extend .main-index__Img;
    background-image: url(../img/tote3-min.jpg);
}

#main-index__Img--sticker:before, #main-index__Img--remera:before, #main-index__Img--tote:before {

	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.7);
}
// las secciones donde estás contenidas las cards de los productos, ocultas para que aparezcan con el toggle
#seccionRemeras, #seccionStickers, #seccionToteBag{
    display: none;
}
// una clase que ordena las secciones de los productos
.seccionDeTienda--flexible {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

div.card{
    margin: 10px;
    div.card-body{
       text-align: center;
       p.contadorProducto{
           border: 1px solid $rosado;
       }
    }
}
// alerta que aparece al elegir un producto
.comprado{
    display: none;
    position: fixed;
    z-index: 3;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

// BOTONES____________________________________________________
.botonComprar {
    background-color: transparent;
    color: $gris-Oscuro;
    border: 2px solid $rosado;
    border-radius: 10px;
}
.botonComprar:hover {
    background-color: $rosado;
    color: white;
}

.botonEliminar, .index__botonGrande, .botonCantidadProducto{
    background-color: transparent;
    border: transparent;
}
.botonEliminar--Img{
    width: 20px;
    height: auto;
}
.botonComprar:focus, .index__botonGrande:focus, .botonCantidadProducto:focus, .botonFormulario:focus{
    outline: none;
    box-shadow: none;
}
.botonCantidadProducto--img{
    width: 15px;
}
.botonFormulario{
    background-color: transparent;
    color: $gris-Oscuro;
    border: 2px solid $gris-Claro;
    border-radius: 10px;     
}
.botonFormulario:hover{
   background-color: $gris-Claro; 
}
// -------para los botones de bootstrap
.botonCarrusel{
    background-color:$rosado;    
}
// TABLA DEL MAIN CARRITO.HTML________________________________________
#contenedorTablaCompra {
    table {
        width: 70%;
        border: solid 1px $gris-Medio;
        margin: 2% auto;
    }
  
    th {
        border: solid 1px $gris-Medio;
    }

    th, td {
        padding: 5px;
        text-align: center;
    }
}

.imgCarrito {
    width: 50px;
}

.montoCompra{
    margin: 10px;
}

#contenedorTablaCompra{
    min-height: 80vh;
}

